<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Polls</title>
</head>
<body>
    {% block heading %}
        <h2>my POLLS!</h2>
        <hr>
    {% endblock heading %}

    {% block content %}
    {% endblock content %}
    
</body>
</html>