{% extends "polls/base.html" %}

{% block heading %}
{{ block.super }}
<h4>our question:</h4>
{% endblock heading %}

{% block content %}
<form action="{% url  'polls:vote' question.id %}" method="post">
{% csrf_token %}
<fieldset>
    <legend><h3>{{question.question_text}}</h3></legend>
    {% if error_message %}<p><strong>{{error_message}}</strong></p>{% endif %}
    {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}"
        <label for="choice{{ forloop.counter }}">{{choice.choice_text}}</label><br>
    {% endfor %}
</fieldset>
<input type="submit" value="Vote">
</form>


<p>
    {% include "polls/about.html" %}
</p>
{% endblock content %}
